# Node
node_modules/

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.log

# Virtual environment
venv/
env/
ENV/

# IDEs
.vscode/
.idea/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db
*.txt
*.ipynb
*.sqlite3
*.pptx
*.pdf

# folders
docs/
stuff/
